# Example Environment Configuration file

CI_ENVIRONMENT = development



 app.baseURL = 'https://ashtasks.herokuapp.com'

database.default.hostname = localhost
database.default.database = taskapp
database.default.username = taskappdb
database.default.password = KiWtrf18yGVkFcYi


HASH_SECRET_KEY = 'cvuobA8M6ahpT3d0dKvtuaEDTlfFtYmM'

email.SMTPHost = 'smtp.gmail.com'
email.SMTPUser ='ashki444@gmail.com'
email.SMTPPass = '43211368'
email.SMTPPort = '587'
email.SMTPCrypto = 'tls'

